<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProjetCRM</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">


             
          </ul>
          <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'add_user' %}">
              {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="nom" aria-label="Search" name="nom">
            <input class="form-control mr-sm-2" type="search" placeholder="prènom" aria-label="Search" name="prenom">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Add</button>
          </form>
        </div>
      </nav>
    </br>
    
    <h1>{{ user.nom }} {{ user.prenom }} </h1> 
    
   
    

</body>
</html>